.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
}

.item {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.button:hover,
.button:focus {
  background-color: blueviolet;
  color: white;
}
